<a href="https://colab.research.google.com/github/yoonseok0323/Python_levelup_ys/blob/main/Baekjoon1~3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####입출력과 사칙연산

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print("강한친구 대한육군")
print("강한친구 대한육군")

강한친구 대한육군
강한친구 대한육군

In [ ]:
print("|    /|")
print(" )  ( ')")
print("(  /  )")
print(" |(__)|")

|    /|
 )  ( ')
(  /  )
 |(__)|

In [ ]:
a,b=input().split() 
# split() 띄어쓰기 기준으로 나누고 문자열을 리스트로 구분
# input()함수는 초기에 문자열로 입력값을 받음.
a=int(a)
b=int(b)
print(a+b)

1 2
3

In [ ]:
a,b = int (input().split() ) # split가 리스트로 구분되어 있는데 int함수가 리스트를 정수로 바꿀 수 없으므로 오류

1 2

TypeError: ignored

In [ ]:
a,b = map (int,input().split() ) #map함수의 경우 ( 적용할 함수인 int, 반복 할 자료형input().split() )이 가능하므로 오류 해결 가능
print(a*b)

1 2

In [ ]:
a,b = map (int,input().split() )
print(a/b) #

4 5
0.8

In [ ]:
a,b = map (int,input().split() )
print(a+b)
print(a-b)
print(a*b)
print(a//b) ## / 의 경우 2.3333 -> 소수점까지 나눗셈   ##  // 의 경우 2 -> 몫을 반환해줌
print(a%b)

7 3
10
4
21
2
1

In [ ]:
a = input()
b = input()
print(a + "??!")
print(b + "??!")

asd
asd
asd??!
asd??!

In [ ]:
print(input() + "??!")

ㅁㄴㅇㅁㄴ
ㅁㄴㅇㅁㄴ??!

In [ ]:
a = int(input())
print(a-543)

2541
1998

In [ ]:
A,B,C = map(int,input().split())
print((A+B)%C)
print(((A%C) + (B%C))%C)
print( (A*B)%C )
print(((A%C) * (B%C))%C)

5 8 4
1
1
0
0

In [ ]:
a = int( input() )
b = int( input() )

print(a*(b%10) )
print((a*((b%100)//10))) # 8이 나와야함 100으로 나눈 나머지값->85 85를 10으로 나눈 몫을 받아야함.
print(a*(b//100))
print(a*b)

472
385
2360
3776
1416
181720

#### 조건문

In [ ]:
a,b = map(int,input().split() ) # 그냥 입력 받으면 str로 들어가니까 map으로 바꾸는거 생각하기

if a>b :
    print(">")

elif a<b :
    print("<")
  
else :
    print("==")

5 5
==

In [ ]:
a= int( input() )

if 90<= a <=100:
  print("A")
elif 80<= a <=89:
  print("B")
elif 70<= a <=79:
  print("C")
elif 60<= a <=69:
  print("D")
else:
  print("F")

74
C

In [ ]:
a= int( input() )

if ((a%4==0) and (a%100 !=0)) or (a%400==0) :
  print("1")
else:
  print("0")

1999
0

In [ ]:
a= int( input() )
b= int( input() )

if a>0 and b>=0 :
  print("1")
elif a<0 and b>=0 :
  print("2") 
elif a< 0 and b<0 :
  print("3")
elif a>0 and b<0 :
  print("4")

9
-13
4

In [ ]:
h,m = map(int,input().split())

if h > 0 :
  print(h-1,m+15)
else:
  print(h+23,m+15)

23 40
22 55

In [ ]:
a,b = map(int,input().split())
c = int(input())

if b+c >= 60 :
  A= (b+c)//60
  b= (b+c)%60
  if a+A>=24:
    a=(a+A)%24
  else:
    a+=A
    
elif b+c<60:
  b+=c
print(a,b)

23 48
25
0 13

In [ ]:
a,b = input("현재 시간 :" ).split(' ')
c = int(input("요리 시간 :" ))
d = int(b)+c 
if (int(a)+int(d/60)>=24) and d >= 60 :
    print(24-(int(a)+int(d/60)),int(d%60))
elif (int(a)+int(d/60) < 24) and d >= 60 :
    print(int(a)+int(d/60),int(d%60))
else :
    print(int(a), d)

현재 시간 :13 40
요리 시간 :20
14 0

In [ ]:
a,b = input("현재 시간 :" ).split(' ')
c = int(input("요리 시간 :" ))
int(a)
print(type(a))

현재 시간 :12 30
요리 시간 :30
<class 'str'>

In [ ]:
a,b = input("현재 시간 :" ).split(' ')
c = int(input("요리 시간 :" ))
a= int(a)
print(type(a))

현재 시간 :12 30
요리 시간 :30
<class 'int'>

In [ ]:
a,b,c = map(int,input().split())
if a==b==c :
  print(10000+a*1000)
elif a==b:
  print(1000+a*100)
elif a==c:
  print(1000+a*100)
elif b==c:
  print(1000+b*100)
else:  
  print(max(a,b,c)*100)

KeyboardInterrupt: ignored

####반복문

In [ ]:
n =int(input())
for i in range(1,10):
  print("2*",f'{i} =',n*i) # ?

2
2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18

In [ ]:
n =int(input())
for i in range(1,10):
  print(n, '*', i, '=', n*i)

2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18

In [ ]:
t =  int(input())
for i in range(t):
  a,b= map(int,input().split())
  print(a+b)

5
1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [ ]:
n = int(input())
sum = 0
for i in range(1,n+1): # range(1,4) => 1,2,3
  sum +=i           # 1, 1+2, 1+2+3
print(sum)

3
6

In [ ]:
t = int(input())

for i in range(t):
    a,b = map(int,input().split()) #??
    print(a+b)

In [ ]:
import sys
T = int(input())
for i in range(T):
    a, b = map(int, sys.stdin.readline().split()) #????
    print(a + b)

5

ValueError: ignored

In [ ]:
n = int(input())

for i in range(n):
  print(n-i)

5
5
4
3
2
1

In [ ]:
t = int(input())
for i in range(1,t+1):
  a,b= map(int,input().split())
  print("Case #"+str(i)+":",a+b) # 후....띄어쓰기 에바지 진짜...;;;;;;

In [ ]:
t = int(input())
for i in range(1,t+1):
  a,b= map(int,input().split())
  print("Case #"+str(i)+":",a,"+",b,"=",a+b) # 후....띄어쓰기 에바지 진짜...;;;;;;

5
1 1
Case #1: 1 + 1 = 2
2 3
Case #2: 2 + 3 = 5
3 4
Case #3: 3 + 4 = 7
9 8
Case #4: 9 + 8 = 17
5 2
Case #5: 5 + 2 = 7

In [ ]:
t = int(input())
a = "*"
for i in range(1,t+1):
  print(str(a*i).rjust(t)) # 왜 안돼...? t 넣으니까 됌 ^^

5
    *
   **
  ***
 ****
*****

In [ ]:
n,x = map(int,input().split())
a = list(map(int,input().split()))
for i in range(n):
  if a[i] < x:
    print(a[i],end=" ") # 띄어쓰기 실화냐 진짜;;;

10 5
1 10 4 9 2 3 8 5 7 6
1423

In [ ]:
a= [1,2,3,4,5,6]
a

[1, 2, 3, 4, 5, 6]

In [ ]:
while (1):
  a,b = map(int,input().split())
  if (a and b) ==0 :
    break 
  else:
    print(a+b)

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7
0 0

In [ ]:
while (1):
    try:
        a, b = map(int, input().split())
        print(a+b)
    except:
        break

1 1
2
2 3
5
3 4
7
9 8
17
5 2
7

In [ ]:
n = int(input())
cycle = n
first = 0
new_n = 0
count = 0

while(1):
  a = n // 10
  b = n % 10

  first = a + b
  new_n = (10*b) + (first%10)
  count += 1
  n = new_n
  if cycle == new_n:
    break
print(count)

26
4

(6, 8)

#####프로그래머스 완주하지못한선수

In [ ]:
def solution(participant, completion):
 
    participant.sort() 
    completion.sort() # 일단 정렬
    
    for i in range(len(completion)):
        if participant[i] != completion[i] :
            return participant[i] # "mislav"
    return participant[i+1] # 참여자가 완주자보다 많을 경우 완주하지 못함 "vinko""leo"



# 1. 완주하지 못한 선수는 completion 배열에 x
# 2. 정렬해서 비교했을 때 맞지 않으면 나가리
# 3. 만약 완주자 4명이면 i=0 1 2 3
# p배열은 5 c베열4 수 안 맞음 ->

4

['filipa', 'josipa', 'marina', 'nikola', 'vinko']  
['filipa', 'josipa', 'marina', 'nikola']